# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [1]:
# Не забудьте настроить соединение

## Создание таблиц
Напишите ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [13]:
%load_ext sql
%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@chinook.db'

In [83]:
%%sql

drop table if exists People;

CREATE TABLE People
(
id integer primary key,
name varchar(100),
email varchar(50),
fac_id integer,
status_id integer,
foreign key (fac_id) references Faculties(id),
foreign key (status_id) references PeopleStatus(id) 
); 

drop table if exists PeopleStatus;

CREATE TABLE PeopleStatus
(
id integer primary key,
name varchar(50)
); 

drop table if exists StudentsSchedule;

CREATE TABLE StudentsSchedule
(
student_id integer,
classesschedule_id integer,
foreign key (student_id) references People(id),
foreign key (classesschedule_id) references ClassesSchedule(id)
); 

drop table if exists Classes;

CREATE TABLE Classes
(
id integer primary key,
description varchar(50),
fac_id integer,
foreign key (fac_id) references Faculties(id)
); 

drop table if exists Faculties;

CREATE TABLE Faculties
(
id integer primary key,
name varchar(50)
); 

drop table if exists ClassesSchedule;

CREATE TABLE ClassesSchedule
(
id integer primary key,
class_id integer,
teacher_id integer,
semester_id integer,
week_day integer,
time_start varchar(50),
foreign key (class_id) references Classes(id),
foreign key (teacher_id) references People(id),
foreign key (semester_id) references Semesters(id)
); 




drop table if exists Semesters;

CREATE TABLE Semesters
(
id integer primary key,
shortname varchar(50),
date_start date,
date_end date
);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [84]:
%%sql
PRAGMA foreign_keys = ON

Done.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [85]:
%%sql 
    
    insert into PeopleStatus values(1, "teacher");
    insert into PeopleStatus values(2, "student");
    
    insert into Faculties values(1, "PIH");
    insert into Faculties values(2, "IТ");
    insert into Faculties values(3, "KIB");
    insert into Faculties values(4, "MIT");
    
    -- insert into People values(id, "name", "email", fac_id, status_id)
    insert into People values(1, "Victor", "victorh@gmail.com", 2, 1);
    insert into People values(2, "Maria", "mariat@gmail.com", 2, 2);
    insert into People values(3, "Billy", "billVash@gmail.com", 3, 1);
    insert into People values(4, "Molly", "mollyJ@gmail.com", 3, 2);
    insert into People values(5, "Jenny", "JennyP@gmail.com", 4, 1);
    insert into People values(6, "Donald", "DonaldT@gmail.com", 4, 2);
    insert into People values(7, "Fedor", "FedorF@gmail.com", 1, 1);
    insert into People values(8, "Adelin", "AdelinK@gmail.com", 1, 2);
    

       
   

    -- insert into Classes values(id, "descript", fac_id)
    insert into Classes values(1, "Linear algebra",2 );
    insert into Classes values(2, "Nuclear Biology",4 );
    insert into Classes values(3, "English History ",1 );
    insert into Classes values(4, "Philosophy",1 );
    
        -- insert into Semesters values(id, "shortname", date_start, date_end)
    insert into Semesters values(1, "Autumn2016", '2016-09-01', '2016-11-31');
    insert into Semesters values(2, "Winter2016", '2016-12-01', '2017-02-28');
    insert into Semesters values(3, "Spring2016", '2017-03-01', '2016-05-31');
    
    -- insert into ClassesSchedule values(id, class_id, teacher_id, semester_id, week_day, time_start)
    insert into ClassesSchedule values(1, 1, 1, 1, 1, "14:30");
    insert into ClassesSchedule values(2, 1, 2, 1, 1, "14:30");
    insert into ClassesSchedule values(3, 2, 3, 1, 3, "10:30");
    insert into ClassesSchedule values(4, 2, 4, 1, 3, "10:30");
    insert into ClassesSchedule values(5, 3, 5, 2, 4, "9:00");
    insert into ClassesSchedule values(6, 3, 6, 2, 4, "9:00");
    insert into ClassesSchedule values(7, 4, 4, 3, 2, "14:30");
    insert into ClassesSchedule values(8, 4, 8, 3, 2, "14:30");
    
 -- insert into StudentsSchedule values(student_id, classesschedule_id)
    insert into StudentsSchedule values(1,2);
    insert into StudentsSchedule values(2,1);
    insert into StudentsSchedule values(3,4);
    insert into StudentsSchedule values(4,3);
    insert into StudentsSchedule values(5,6);
    insert into StudentsSchedule values(6,5);
    insert into StudentsSchedule values(7,8);
    insert into StudentsSchedule values(8,7);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]